
/* Navbar */
.inline-block {
    display: inline-block;
    vertical-align: top;
}
div.logo {
    width: 23%;
    padding: 1%;
    color: #e3b9f2; 
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
logo {
    text-align: center;
}
nav {
    width: 72%;
    padding: 1%;
}
ul {
    width: 50%;
    margin-left: auto;
}

li {
    padding: 5px;
}

/* Hero Image */
.HeroImg {
    height: 600px;
    padding: 10px;
}
.content {
    width: 500px;
    margin: 0 auto;
    padding: 1%;
    box-shadow: 5px 5px 15px #6F8FAF;
    background-color: #ffffff;
    border-radius: 20px
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    border-radius: 15px;
    padding: 11px;
  }

p {
    font-family: "sf pro display", Arial, Helvetica, sans-serif;
}
p.thick {
    font-weight: bolder;
}

/* Footer */
.inline-block {
    display: inline-block;
    vertical-align: top;
}
footer {
    background-color: #e3b9f2;
    padding: .1%;
    margin-top: 160px;
}
footer ul {
    display: inline-block;
    vertical-align: top;
    padding: 1%;
}
